aula11/flows.json
[
    {
        "id": "cf8175e77d738c3a",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3c173e7f4d7d7be",
        "type": "serial in",
        "z": "cf8175e77d738c3a",
        "name": "",
        "serial": "2b2a3ae0c13a33ae",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "372cf1d0848bd6cf"
            ]
        ]
    },
    {
        "id": "c3833382cc6e8df6",
        "type": "debug",
        "z": "cf8175e77d738c3a",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "372cf1d0848bd6cf",
        "type": "function",
        "z": "cf8175e77d738c3a",
        "name": "function 1",
        "func": "var timestamp = new Date().getTime();\nvar data = new Date(timestamp);\nvar ano = data.getFullYear();\nvar mes = data.getMonth();\nvar dia = data.getDate();\nvar hora = data.getHours();\nvar minuto = data.getMinutes();\n\nmes = mes < 10 ? '0' + mes : mes;\ndia = dia < 10 ? '0' + dia : dia;\nhora = hora < 10 ? '0' + hora: hora;\nminuto = minuto < 10 ? '0' + minuto : minuto;\n\nvar dataFormatada = dia + '/'+ mes + '/' + ano + ' - ' + hora + ':' + minuto;\nmsg.payload = {\n    \"horario\" : dataFormatada.toString(),\n    \"leitura\" : msg.payload.replace(/\\r?\\n|\\r/g, '')\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "c3833382cc6e8df6",
                "ccba9ccbb6c93245"
            ]
        ]
    },
    {
        "id": "16827f8cd5182783",
        "type": "http in",
        "z": "cf8175e77d738c3a",
        "name": "",
        "url": "/gashorarioget",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "ca8e0d797a9e01f3"
            ]
        ]
    },
    {
        "id": "ca8e0d797a9e01f3",
        "type": "cloudantplus in",
        "z": "cf8175e77d738c3a",
        "name": "",
        "cloudant": "3e597fcc95f690b1",
        "database": "luistorres10m3",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "2030aba023441e18"
            ]
        ]
    },
    {
        "id": "ccba9ccbb6c93245",
        "type": "cloudantplus out",
        "z": "cf8175e77d738c3a",
        "name": "",
        "cloudant": "3e597fcc95f690b1",
        "database": "luistorres10m3",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2030aba023441e18",
        "type": "http response",
        "z": "cf8175e77d738c3a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "2b2a3ae0c13a33ae",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/tty.usbserial-0001",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "3e597fcc95f690b1",
        "type": "cloudantplus",
        "host": "https://8685b21f-dcdc-4864-a9bc-84e5121ccc12-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "Matheus2410",
        "useapikey": true
    }
]
