aula9.json
[
    {
        "id": "d087fa46d67fabd0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d559c18dce773db1",
        "type": "watson-text-to-speech",
        "z": "d087fa46d67fabd0",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "apikey1",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ca0f19aa-712b-43fe-8efe-9fc20eb29211",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "1a379e2d60ad946b"
            ]
        ]
    },
    {
        "id": "cbf103c43b282b4a",
        "type": "inject",
        "z": "d087fa46d67fabd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tecnologia continua mudando",
        "payloadType": "str",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "d559c18dce773db1"
            ]
        ]
    },
    {
        "id": "1a379e2d60ad946b",
        "type": "play audio",
        "z": "d087fa46d67fabd0",
        "name": "",
        "voice": "",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "460efdd2e36a3a82",
        "type": "watson-speech-to-text",
        "z": "d087fa46d67fabd0",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "apikey2",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/a2295689-c9fa-49a2-802b-856d2df83949",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "8af68a441144efed"
            ]
        ]
    },
    {
        "id": "951e077ba6310646",
        "type": "microphone",
        "z": "d087fa46d67fabd0",
        "name": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "460efdd2e36a3a82"
            ]
        ]
    },
    {
        "id": "8af68a441144efed",
        "type": "debug",
        "z": "d087fa46d67fabd0",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "59a21298417171d2",
        "type": "inject",
        "z": "d087fa46d67fabd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tecnologia",
        "payloadType": "str",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "5d7aff2cf46db940"
            ]
        ]
    },
    {
        "id": "5d7aff2cf46db940",
        "type": "watson-translator",
        "z": "d087fa46d67fabd0",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "apikey3",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "7ff16de02e7d57ef"
            ]
        ]
    },
    {
        "id": "a910d00a802f0242",
        "type": "watson-translator",
        "z": "d087fa46d67fabd0",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "apikey3",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "a5e9c820360f093f"
            ]
        ]
    },
    {
        "id": "7ff16de02e7d57ef",
        "type": "debug",
        "z": "d087fa46d67fabd0",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "a5e9c820360f093f",
        "type": "watson-translator",
        "z": "d087fa46d67fabd0",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "it",
        "apikey": "apikey3",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "it",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "3f91744139304f15"
            ]
        ]
    },
    {
        "id": "264ab2b08d3f5f59",
        "type": "debug",
        "z": "d087fa46d67fabd0",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "e24ef43ece7e1e6d",
        "type": "inject",
        "z": "d087fa46d67fabd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tecnologia continua mudando",
        "payloadType": "str",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "a910d00a802f0242"
            ]
        ]
    },
    {
        "id": "6f23f5d94b089f1b",
        "type": "watson-translator",
        "z": "d087fa46d67fabd0",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "apikey3",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 330,
        "y": 980,
        "wires": [
            [
                "524fbe73a8df7c32"
            ]
        ]
    },
    {
        "id": "524fbe73a8df7c32",
        "type": "watson-translator",
        "z": "d087fa46d67fabd0",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "it",
        "apikey": "apikey3",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "it",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 610,
        "y": 980,
        "wires": [
            [
                "c103d06d86940050"
            ]
        ]
    },
    {
        "id": "c103d06d86940050",
        "type": "watson-text-to-speech",
        "z": "d087fa46d67fabd0",
        "name": "",
        "lang": "it-IT",
        "langhidden": "it-IT",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "it-IT_FrancescaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "apikey1",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ca0f19aa-712b-43fe-8efe-9fc20eb29211",
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "65c6d776f101acb0"
            ]
        ]
    },
    {
        "id": "65c6d776f101acb0",
        "type": "play audio",
        "z": "d087fa46d67fabd0",
        "name": "",
        "voice": "0",
        "x": 650,
        "y": 1100,
        "wires": []
    },
    {
        "id": "e8dad2bf56eab632",
        "type": "inject",
        "z": "d087fa46d67fabd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tecnologia continua mudando",
        "payloadType": "str",
        "x": 90,
        "y": 980,
        "wires": [
            [
                "6f23f5d94b089f1b"
            ]
        ]
    },
    {
        "id": "7f9951d65e4f6b8e",
        "type": "microphone",
        "z": "d087fa46d67fabd0",
        "name": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "77e9784da8edf482"
            ]
        ]
    },
    {
        "id": "f0d1f361116e7855",
        "type": "watson-translator",
        "z": "d087fa46d67fabd0",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "apikey4",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 610,
        "y": 740,
        "wires": [
            [
                "4eeab958ba10b63b"
            ]
        ]
    },
    {
        "id": "b642e904b869b022",
        "type": "debug",
        "z": "d087fa46d67fabd0",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 840,
        "wires": []
    },
    {
        "id": "3f91744139304f15",
        "type": "cloudantplus out",
        "z": "d087fa46d67fabd0",
        "name": "",
        "cloudant": "3e597fcc95f690b1",
        "database": "luistorres",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 420,
        "y": 620,
        "wires": [
            [
                "264ab2b08d3f5f59"
            ]
        ]
    },
    {
        "id": "3b2edc9f5827e79e",
        "type": "http in",
        "z": "d087fa46d67fabd0",
        "name": "Get [CREATE]",
        "url": "aula11leitura",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1240,
        "wires": [
            [
                "8e57649e51b828f4",
                "64af11c816040ff0"
            ]
        ]
    },
    {
        "id": "9ecc63f0241d0a71",
        "type": "http response",
        "z": "d087fa46d67fabd0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8e57649e51b828f4",
        "type": "debug",
        "z": "d087fa46d67fabd0",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1380,
        "wires": []
    },
    {
        "id": "64af11c816040ff0",
        "type": "cloudantplus in",
        "z": "d087fa46d67fabd0",
        "name": "",
        "cloudant": "3e597fcc95f690b1",
        "database": "luistorres",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 400,
        "y": 1240,
        "wires": [
            [
                "9ecc63f0241d0a71"
            ]
        ]
    },
    {
        "id": "4eeab958ba10b63b",
        "type": "watson-translator",
        "z": "d087fa46d67fabd0",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "ar",
        "apikey": "apikey4",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "ar",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "b642e904b869b022"
            ]
        ]
    },
    {
        "id": "77e9784da8edf482",
        "type": "watson-speech-to-text",
        "z": "d087fa46d67fabd0",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "apikey5",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "htps://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/a2295689-c9fa-49a2-802b-856d2df83949",
        "x": 360,
        "y": 740,
        "wires": [
            [
                "f0d1f361116e7855"
            ]
        ]
    },
    {
        "id": "3e597fcc95f690b1",
        "type": "cloudantplus",
        "host": "https://8685b21f-dcdc-4864-a9bc-84e5121ccc12-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "Matheus2410",
        "useapikey": true
    }
]
